/*
    Shelf creates flex context.
*/

.shelf {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    &.\@ {
        gap: var(--gap-1);
    }
    &.\@\@ {
        gap: var(--gap-2);
    }
    &.\@\@\@ {
        gap: var(--gap-3);
    }
    &.\@\@\@\@ {
        gap: var(--gap-4);
    }
    &.\@\@\@\@\@ {
        gap: var(--gap-5);
    }

    &.-column {
        flex-direction: column;
    }

    &.-wrap {
        flex-wrap: wrap;
    }

    &.-center {
        align-items: center;
    }

    &.-grow {
        flex-grow: 1;
    }
}
