/*
    Tile clamps amount of columns on orientation portrait
*/

.tile {
    width: 100%;
    display: grid;
    align-items: start;

    &.\@ {
        gap: var(--gap-1);
    }
    &.\@\@ {
        gap: var(--gap-2);
    }
    &.\@\@\@ {
        gap: var(--gap-3);
    }
    &.\@\@\@\@ {
        gap: var(--gap-4);
    }
    &.\@\@\@\@\@ {
        gap: var(--gap-5);
    }

    &.\# {
        grid-template-columns: repeat(1, 1fr);
        @media (--portrait) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &.\#\# {
        grid-template-columns: repeat(2, 1fr);
        @media (--portrait) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &.\#\#\# {
        grid-template-columns: repeat(3, 1fr);
        @media (--portrait) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &.\#\#\#\# {
        grid-template-columns: repeat(4, 1fr);
        @media (--portrait) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &.\#\#\#\#\# {
        grid-template-columns: repeat(5, 1fr);
        @media (--portrait) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &.\#\#\#\#\#\# {
        grid-template-columns: repeat(6, 1fr);
        @media (--portrait) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.-masonry {
        align-items: baseline;
        grid-auto-flow: dense;
    }
}
