.text-select {
    user-select: all;
}

.text-disabled {
    user-select: none;
}

::-webkit-selection {
    background-color: var(--color-secondary);
}

::-moz-selection {
    background-color: var(--color-secondary);
}

::selection {
    background-color: var(--color-secondary);
}

/*
    Reveal ellipsis content on hover, useful in a Table cell.
*/

.text-hover > * {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-hover:hover > * {
    background-color: inherit;
    contain: paint;
    width: fit-content;
    min-width: 100%;
}
