:where(html) {
    --font-size-0: 0.75em;
    --font-size-1: 1em;
    --font-size-2: 1.25em;
    --font-size-3: 1.6em;
    --font-size-4: 2.5em;
    --font-size-fluid-1: clamp(2rem, 9vw, 3.5rem);

    --casing: uppercase;
    --set-solid: 1;
    --chinesse-line-height: 1.8;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* 1rem = 10px */
    xfont-size: 62.5%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    font-family: sans-serif;
}

:is(h1, h2, h3) {
    line-height: var(--set-solid);
    overflow-wrap: break-word;
}

:is(h1, h2, h3)::first-letter {
    text-transform: var(--casing);
}

h1:has(span, b),
p:has(span, b) {
    font-size: inherit;
}

.t {
    font-size: var(--font-size-1);

    &.-xs {
        font-size: var(--font-size-0);
    }
    &.-md {
        font-size: var(--font-size-2);
    }
    &.-lg {
        font-size: var(--font-size-3);
    }
    &.-xl {
        font-size: var(--font-size-4);
    }

    &.-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }
    &.-break {
        word-wrap: break-word !important;
        word-break: break-word !important;
    }
}

.t-fluid {
    font-size: var(--font-size-fluid-1);
}
