:where(html) {
    --font-size-0: 0.75rem;
    --font-size-1: 1rem;
    --font-size-2: 1.1rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.6rem;
    --font-size-5: 2rem;
    --font-size-6: 2.5rem;
    --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
    --font-size-fluid-2: clamp(2rem, 9vw, 3.5rem);

    --casing: uppercase;
    --set-solid: 1;
    --chinesse-line-height: 1.8;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* 1rem = 10px */
    xfont-size: 62.5%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    font-family: sans-serif;
}

:is(h1, h2, h3) {
    line-height: var(--set-solid);
    overflow-wrap: break-word;
}

:is(button, h1, h2, h3)::first-letter {
    text-transform: var(--casing);
}

h1:has(span, b),
p:has(span, b) {
    font-size: inherit;
}

.t {
    &.\# {
        font-size: var(--font-size-1);
    }
    &.\#\# {
        font-size: var(--font-size-2);
    }
    &.\#\#\# {
        font-size: var(--font-size-3);
    }
    &.\#\#\#\# {
        font-size: var(--font-size-4);
    }
    &.\#\#\#\#\# {
        font-size: var(--font-size-5);
    }
    &.\#\#\#\#\#\# {
        font-size: var(--font-size-6);
    }

    &.-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }
    &.-break {
        word-wrap: break-word !important;
        word-break: break-word !important;
    }
}

.t-fluid {
    &.\# {
        font-size: var(--font-size-fluid-1);
    }
    &.\#\# {
        font-size: var(--font-size-fluid-2);
    }
}
