:where(html) {
    /* Base 'size' for a happy user interaction */
    --usable-height: 48px;

    --disabled-opacity: 0.8;
}

@media (--touch) {
    :where(html) {
        /* Base 'size' for a happy user interaction on 'touch' devices */
        --usable-height: 52px;
    }
}

button {
    cursor: pointer;
}

button.-icon {
    width: max(var(--usable-height), 2em);
    height: max(var(--usable-height), 2em);
}

input,
button,
textarea,
select {
    font: inherit;
    font-family: inherit;
    min-height: var(--usable-height);

    &[disabled] {
        opacity: var(--disabled-opacity);
    }
}

input {
    caret-color: var(--color);
    min-width: 0;
}

@media (--portrait) {
    /* iOS bug as old as my gbc */
    input {
        font-size: 16px;
    }
}

/* 2022 fix */

input {
    font-size: max(16px, 1rem);
}
